/* Israeli flag colors: blue: #0038b8 */
/* Norwegian flag colors: blue: #002868, red: #EF2B2D */

* {
    box-sizing: border-box;
}

@media screen {
    body {
        color: rgba(0, 0, 0, 0.87);
        background: #ECEFF1;
        /* font-family: Roboto, Helvetica, Arial, sans-serif; */
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .header__topline {
        display: flex;
        justify-content: space-between
    }

    #searchInput {
        border-radius: 0;
        margin-right: 0.3em
    }

    #header,
    #searchBar,
    #products {
        background: white;
        border-radius: 0;
        max-width: 600px;
        margin: 0 auto 3px;
        padding: 0.5em 3em;
    }

    #header {
        border-top: 16px solid #0038b8;
    }

    #header h1 {
        color: #0038b8;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px;
    }

    #header h2 {
        color: #0038b8;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 8px;
    }

    #header p {
        font-size: 9px;
        line-height: 140%;
        margin: 4px 0 4px;
    }

    #header a {
        background: #039be5;
        border-radius: 0;
        color: white;
        display: block;
        padding: 16px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }

    #products {
        font-size: 12px;
        padding: 9px 0
    }

    .info {
        color: rgba(0, 0, 0, 0.4);
        font-size: 9px;
    }

    .product {
        border-bottom: 1px solid lightgray;
    }

    .contentKey,
    .contentValue {
        padding: 0.1em 0em;
    }

    .contentKey {
        color: #933;
    }

    .contentValue {
        outline: 0 none;
        border: 0 none;
    }

    /* grid layout */
    @supports (display: grid) {
        .productItem {
            display: grid;
            grid-template-columns: 10em auto;
            grid-gap: 0.3em 0.6em;
            grid-auto-flow: dense;
        }

        .contentKey {
            grid-column: 1;
            justify-self: end;
        }

        .contentValue {
            grid-column: 2;
        }
    }

    /* The Modal (background) */
    .info_modal {
        display: none;
        /* Stay in place */
        position: fixed;
        /* Sit on top */
        z-index: 1;
        /* Location of the box */
        padding: 2em 6em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* Enable scroll if needed */
        overflow: auto;
        /* Fallback color */
        background-color: rgb(0, 0, 0);
        /* Black w/ opacity */
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Modal Content */
    .info_modal__content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .info_modal__close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .info_modal__close:hover,
    .info_modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .info_modal__open {
        text-align: center;
        background-color: #BCDBEA;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 24px;
        line-height: 29px;
        cursor: default;
        padding: 0 0 0 1px;
    }

    .info_modal__open:before {
        content: "?";
        font-weight: bold;
        color: #fff;
    }

    .info_modal__open:hover p {
        display: block;
        transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;

    }

    .info_modal__open p {
        /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

    .info_modal__open p:before {
        /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: #1E2021;
        right: 10px;
        top: -12px;
    }

    .info_modal__open p:after {
        /* Prevents the tooltip from being hidden */
        width: 100%;
        height: 40px;
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
    }
}

@media (max-width: 600px) {

    #header,
    #searchBar,
    #products {
        background: white;
        margin: 0 auto;
        box-shadow: none;
        padding: 0.5em 1.2em 0.5em 2em;
    }

    #products {
        font-size: 9px;
        padding: 9px 0
    }

    .info_modal {
        padding: 2em 0.2em;
    }

    .info_modal__content {
        width: 95%;
    }

}




/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}