/* Israeli flag colors: blue: #0038b8 */
/* Norwegian flag colors: blue: #002868, red: #EF2B2D */
/* Color of log text: #0084b9 */

:root {
    --blue_israeli_flag: #0038b8;
    --blue_norwgian_flag: #002868;
    --blue_vaad_hakashrut: #0084b9;
    --blue_light: #039be5;
    --blue_dark: #0083c3;
    --dark-grey: #4c4c4c;
}


/* Resets */

/* Reset Safari User Agent Styles */

* {
    padding: 0;
    -webkit-padding-start: 0px;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}


/* Prevent zoom? */
html {
    box-sizing: border-box;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

body {
    /* background: #ECEFF1; */
    color: rgba(0, 0, 0, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

h1 {
    color: var(--blue_light);
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

h2 {
    color: var(--blue_light);
    font-weight: bold;
    font-size: 16px;
    margin: 1em 0 0.4em 0;
}

h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 1em 0 0.2em 0;
}

.link--big {
    background: var(--blue_light);
    border-radius: 0;
    color: white;
    display: block;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.link--small {
    background: white;
    border-radius: 0;
    color: var(--blue_light);
    padding: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

/* 
 * Nailing parts in place to prevent them from bouncing and 
 * preventing the problem with scroll-chaingin on a mobile device. 
*/

/* 
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 */
@media only screen and (max-device-width : 812px) {

    .main__fixed,
    .info_modal__fixed {
        top: 0px;
        left: 50vw;
        margin: 0 -50vw;
        width: 100vw;
        padding-bottom: 0px;
        position: fixed;
    }

    .main__fixed {
        z-index: 1;
    }

    .info_modal__fixed {
        z-index: 2;
    }

    /* .main__footer {
        background: white;
        border-bottom: 5px solid var(--blue_vaad_hakashrut);
        border-radius: 0;
        bottom: 0px;
        height: 0px;
        left: 50%;
        margin: 0 -300px;
        width: 600px;
        padding-bottom: 0px;
        position: fixed;
        z-index: 99;
    } */
}