@media screen {

    .main {
        position: relative;
        margin: 0 auto 0;
        max-width: 600px;
        overflow: hidden;
    }

    .main__header,
    .main__searchBar {
        background: white;
        border-radius: 0;
    }

    .main__header {
        /* border-top: 5px solid var(--blue_vaad_hakashrut); */
        display: flex;
        padding: 1vh 1vw 0 1.5vw;
    }

    .main__header__logo {
        align-self: flex-end;
        flex: 1.4;
        margin: 0px;
        padding: 0 1.5vw 0 0;
    }

    .main__header__logo__img {
        width: 100%;
    }

    .main__header__title {
        border-left: 1px solid lightgray;
        line-height: 12px;
        padding: 0 0 0 1.5vw;
    }

    .main__header__title__wrapper {
        align-self: flex-end;
        color: var(--blue_vaad_hakashrut);
        flex: 0.6;
        font-size: 0.6em;
        font-weight: 600;
        text-transform: uppercase;
        /* Sets the height of the text relative to the logo */
        padding: 0 0 1.1vh 0vw;
    }



    .main__header__info_modal__open {
        text-align: center;
        background-color: var(--blue_vaad_hakashrut);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 24px;
        line-height: 29px;
        cursor: pointer;
        padding: 0 0 0 1px;
    }

    .main__header__info_modal__open:before {
        content: "?";
        font-weight: bold;
        color: #fff;
    }

    .main__header__info_modal__open:hover p {
        display: block;
        transform-origin: 100% 0%;
    }

    .main__header__info_modal__open p {
        background-color: #1E2021;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        color: #FFF;
        display: none;
        font-size: 13px;
        line-height: 1.4;
        padding: 20px;
        right: -4px;
        text-align: left;
        width: 300px;
    }

    .main__header__info_modal__open p:before {
        content: '';
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: #1E2021;
        position: absolute;
        right: 10px;
        top: -12px;
        width: 0;
    }

    .main__header__info_modal__open p:after {
        /* Prevents the tooltip from being hidden */
        height: 40px;
        content: '';
        left: 0;
        position: absolute;
        top: -40px;
        width: 100%;
    }



    .main__searchBar {
        padding: 2vh 1vw 2vh 3vw;
    }

    .main__searchBar__info {
        color: rgba(0, 0, 0, 0.4);
        font-size: 11px;
        margin-top: 0.4vh;
        margin-bottom: 0;
    }

    .main__searchBar__searchInput {
        border-color: lightgray;
        border-radius: 0;
        border-style: solid;
        border-width: 1px;
        font-size: 16px;
        margin-right: 0.3em;
        padding: 0.3em 0.7em;
        width: 85%;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }

    .main__searchBar__searchInput:focus {
        outline: 2px solid orange;
    }
}

/* 
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 */
@media only screen and (max-device-width : 812px) {
    .main__searchBar {
        padding-left: 4vw;
    }

    .main__header,
    .main__searchBar {
        background: white;
        margin: 0 auto;
        box-shadow: none;
    }
}