/* Israeli flag colors: blue: #0038b8 */
/* Norwegian flag colors: blue: #002868, red: #EF2B2D */

* {
    box-sizing: border-box;
}

@media screen {
    h1 {
        color: #0038b8;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 8px;
    }

    h2 {
        color: #0038b8;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 8px;
    }

    a {
        background: #039be5;
        border-radius: 0;
        color: white;
        display: block;
        padding: 16px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }

    body {
        color: rgba(0, 0, 0, 0.87);
        background: #ECEFF1;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .main__header,
    .main__searchBar,
    .main__products,
    .main__footer {
        background: white;
        border-radius: 0;
        margin: 0 auto 0;
        max-width: 600px;
        padding: 0 3em;
    }

    .main__header,
    .main__searchBar {
        overflow: hidden;
    }

    .main__header {
        border-top: 9px solid #0038b8;
        display: flex;
        justify-content: space-between;
        padding-top: 1vh;
    }

    .main__header__title {
        margin: 0;
    }

    .main__searchBar {
        padding-bottom: 1vh;
    }

    .main__searchBar__info {
        margin-top: 0;
        margin-bottom: 0;
    }

    .main__products {
        font-size: 12px;
        height: 88vh;
        padding: 9px 0 10vh 0;
        overflow-y: scroll;
        /* Smooth scrolling; has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    .main__footer {
        border-bottom: 9px solid #0038b8;
        bottom: 0px;
        height: 9px;
        left: 50%;
        margin: 0 -300px;
        width: 600px;
        padding-bottom: 8px;
        position: fixed;
    }

    .main__searchBar__searchInput {
        border-radius: 0;
        margin-right: 0.3em
    }

    .main__searchBar__info {
        color: rgba(0, 0, 0, 0.4);
        font-size: 9px;
    }

    .main__products__product {
        border-bottom: 1px solid lightgray;
    }

    .main__products__product__productItem__contentKey,
    .main__products__product__productItem__contentValue {
        padding: 0.1em 0em;
    }

    .main__products__product__productItem__contentKey {
        color: #933;
    }

    .main__products__product__productItem__contentValue {
        outline: 0 none;
        border: 0 none;
    }

    /* grid layout */
    @supports (display: grid) {
        .main__products__product__productItem {
            display: grid;
            grid-template-columns: 10em auto;
            grid-gap: 0.3em 0.6em;
            grid-auto-flow: dense;
        }

        .main__products__product__productItem__contentKey {
            grid-column: 1;
            justify-self: end;
        }

        .main__products__product__productItem__contentValue {
            grid-column: 2;
        }
    }

    /* The Info Modal */
    .info_modal {
        display: none;
        /* Stay in place */
        position: fixed;
        /* Sit on top */
        z-index: 1;
        /* Location of the box */
        padding: 2em 6em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .info_modal__content {
        width: 100%;
        height: 90%;
    }

    .info_modal__content__header,
    .info_modal__content__body {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        width: 80%;
    }

    .info_modal__content__header {
        border-bottom: 1px solid #888;
    }

    .info_modal__content__header__title {
        font-size: 22px;
        font-weight: bold;
    }

    .info_modal__content__body {
        height: 100%;
        overflow-y: scroll;
        /* Smooth scrolling; has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    .info_modal__content__body__p,
    .info_modal__content__body__ul {
        font-size: 12px;
    }

    .info_modal__content__body__p {
        line-height: 140%;
        margin: 4px 0 16px 0;
    }

    .info_modal__content__body__ul {
        /* list-style-type: none; */
    }

    .info_modal__content__body__li {
        margin: 4px 0 16px 0;
    }

    .info_modal__close {
        color: #aaaaaa;
        float: right;
        font-size: 50px;
        line-height: 23px;
        padding-right: 1.8em;
    }

    .info_modal__close:hover,
    .info_modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .info_modal__open {
        text-align: center;
        background-color: #BCDBEA;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 24px;
        line-height: 29px;
        cursor: default;
        padding: 0 0 0 1px;
    }

    .info_modal__open:before {
        content: "?";
        font-weight: bold;
        color: #fff;
    }

    .info_modal__open:hover p {
        display: block;
        transform-origin: 100% 0%;
    }

    .info_modal__open p {
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

    .info_modal__open p:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: #1E2021;
        right: 10px;
        top: -12px;
    }

    .info_modal__open p:after {
        /* Prevents the tooltip from being hidden */
        width: 100%;
        height: 40px;
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
    }
}

@media (max-width: 600px) {

    .main__header,
    .main__searchBar,
    .main__products {
        background: white;
        margin: 0 auto;
        box-shadow: none;
        padding: 0 1.2em 0.5em 2em;
    }

    .main__products {
        font-size: 9px;
        padding: 9px 0 10vh 0;
    }

    .main__header {
        padding-top: 1vh;
    }

    .info_modal {
        padding: 2em 0.2em;
    }

    .info_modal__content__header {
        border-bottom: 1px solid #888;
    }

    .info_modal__content__header,
    .info_modal__content__body {
        width: 95%;
    }

    .info_modal__content__header__title {
        font-size: 20px;
    }

    .info_modal__close {
        padding-right: 0.2em;
    }
}