@media screen {

    .main__products {
        background: white;
        border-radius: 0;
        margin: 0 auto 0;
        max-width: 600px;
        padding: 0 3em;
    }

    .main__products {
        border-top: 1px solid lightgray;
        font-size: 12px;
        height: 89vh;
        margin: 0 auto;
        padding: 2vh 0 20vh 0;
        /* Smooth scrolling; has to be scroll, not auto */
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .main__products__product {
        /* border-bottom: 1px solid lightgray; */
        padding: 0 0 1vh 0;
    }

    .main__products__product__line {
        border-bottom: 1px solid gray;
        margin: 0 0 0 7vh;
        padding: 1vh 0 0 0;
        width: 33vh;
    }

    .main__products__product__productItem__contentKey,
    .main__products__product__productItem__contentValue {
        padding: 0.1em 0em;
    }

    .main__products__product__productItem__contentKey {
        color: gray;
    }

    .main__products__product__productItem__contentValue {
        outline: 0 none;
        border: 0 none;
    }

    .main__products__product__productItem__contentValue--milk {
        color: var(--blue_dark);
    }

    .main__products__product__productItem__contentValue--parve {
        color: var(--dark-grey);
    }

    .main__products__product__productItem__contentValue--treif {
        color: crimson;
    }

    .main__products__product__productItem__contentValue--product {
        font-weight: bold;
    }

    /* grid layout */
    @supports (display: grid) {
        .main__products__product__productItem {
            display: grid;
            grid-template-columns: 7em auto;
            grid-gap: 0.3em 0.6em;
            grid-auto-flow: dense;
        }

        .main__products__product__productItem__contentKey {
            grid-column: 1;
            justify-self: end;
        }

        .main__products__product__productItem__contentValue {
            grid-column: 2;
        }
    }
}

@media (max-width: 767px) {

    .main__products {
        padding-bottom: 30vh;
    }
}