/* Israeli flag colors: blue: #0038b8 */
/* Norwegian flag colors: blue: #002868, red: #EF2B2D */
/* Color of log text: #0084b9 */

@media screen {

    .main__header,
    .main__searchBar,
    .main__footer {
        background: white;
        border-radius: 0;
        margin: 0 auto 0;
        max-width: 600px;
    }

    .main__header,
    .main__searchBar {
        overflow: hidden;
    }

    .main__header {
        border-top: 5px solid #0084b9;
        display: flex;
        justify-content: space-between;
        padding: 1vh 1vh 0 1.5vh;
    }

    .main__header__logo {
        flex: 1.4;
        margin: 0px;
        padding: 0 1.5vh 0 0;
    }

    .main__header__logo__img {
        width: 100%;
    }

    .main__header__title {
        border-left: 1px solid lightgray;
        line-height: 12px;
        padding: 0 0 0 1.5vh;
    }

    .main__header__title__wrapper {
        align-self: flex-end;
        /* border-left: 1px solid lightgray; */
        color: #0084b9;
        flex: 0.6;
        font-size: 0.8em;
        font-weight: 600;
        font-variant-caps: all-small-caps;
        /* Sets the height of the text relative to the logo */
        padding: 0 0 1.1vh 0vh;
    }

    .main__searchBar {
        padding: 2vh 1vh 2vh 2vh;
    }

    .main__searchBar__info {
        margin-top: 0.4vh;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.4);
        font-size: 11px;
    }

    .main__searchBar__searchInput {
        border-color: lightgray;
        border-radius: 0;
        border-style: solid;
        border-width: 1px;
        font-size: 16px;
        margin-right: 0.3em;
        padding: 0.3em 0.7em;
        width: 85%;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }

    .main__searchBar__searchInput:focus {
        outline: 2px solid orange;
    }

    .main__footer {
        border-bottom: 5px solid #0084b9;
        bottom: 0px;
        height: 9px;
        left: 50%;
        margin: 0 -300px;
        width: 600px;
        padding-bottom: 8px;
        position: fixed;
    }
}

@media (max-width: 767px) {

    .main__header,
    .main__searchBar {
        background: white;
        margin: 0 auto;
        box-shadow: none;
    }
}