@media screen {
    .info_modal {
        background-color: white;
        display: none;
        /* 10px - size of sum of line at top and bottom */
        height: calc(100vh - 10px);
        left: 0;
        position: absolute;
        /* 5px - size of line at top */
        top: 5px;
    }

    .info_modal__content {
        padding: 0 0vw 0 0vw;
    }

    .info_modal__content__header,
    .info_modal__content__body {
        background-color: #fefefe;
    }

    .info_modal__content__header {
        border-bottom: 1px solid lightgray;
        display: flex;
        height: 13vh;
        justify-content: space-between;
        padding: 1vh 1vw 1vh 1.5vw;

    }

    .info_modal__content__header__logo {
        align-self: flex-end;
        flex: 1;
        margin: 0px;
        padding: 0 1.5vw 0 0;
    }

    .info_modal__content__header__logo__img {
        width: 100%;
    }

    .info_modal__content__header__title {
        font-size: 22px;
        font-weight: bold;
    }

    .info_modal__content__body {
        height: 100%;
        overflow-y: scroll;
        padding: 2vh 2vw 2vh 2vw;
        /* Smooth scrolling; has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    .info_modal__content__body__p,
    .info_modal__content__body__ul {
        font-size: 12px;
    }

    .info_modal__content__body__p {
        line-height: 140%;
        margin: 4px 0 16px 0;
    }

    .info_modal__content__body__li {
        margin: 4px 0 16px 0;
    }

    .info_modal__close {
        color: #aaaaaa;
        font-size: 50px;
        line-height: 25px;
        /* position: absolute; */
        right: 4px;
        top: 0px;
    }

    .info_modal__close:after {
        /* content: '✖'; */
        content: '×';
    }

    .info_modal__close:hover,
    .info_modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

}


@media (max-width: 767px) {
    .info_modal__content__header {
        height: 11vh;
    }

    .info_modal__content__header__title {
        font-size: 20px;
    }
}